<a href="https://colab.research.google.com/github/Ranjith-arch/LetsupgradeDataScience/blob/main/Day4%20data%20science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Question1

In [1]:
 
# How to import pandas and check the version?
import pandas as pd
print(pd.__version__)

1.1.4

#Question2

In [2]:
 
#How to create a series from a numpy array?
 
import numpy as np
 
import pandas as pd
 
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 91, 2, 4, 5, 8, 9, 6, 5, 4, 3, 2, 5])
print("Array of numpy is :", arr)
 
print("Series of pandas is :", pd.Series(arr))

Array of numpy is : [ 1  2  3  4  5  6  7  8 91  2  4  5  8  9  6  5  4  3  2  5]
Series of pandas is : 0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8     91
9      2
10     4
11     5
12     8
13     9
14     6
15     5
16     4
17     3
18     2
19     5
dtype: int64

#Question3

In [3]:
 
# How to convert the index of a series into a column of a dataframe ?
 
import pandas as pd
 
my_series = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9])
print("Series is :", my_series)
 
print("index of a series into a column of a data frame :", my_series.to_frame().reset_index())

Series is : 0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     3
10    4
11    5
12    6
13    7
14    8
15    9
16    2
17    3
18    4
19    5
20    6
21    7
22    8
23    9
dtype: int64
index of a series into a column of a data frame :     index  0
0       0  1
1       1  2
2       2  3
3       3  4
4       4  5
5       5  6
6       6  7
7       7  8
8       8  9
9       9  3
10     10  4
11     11  5
12     12  6
13     13  7
14     14  8
15     15  9
16     16  2
17     17  3
18     18  4
19     19  5
20     20  6
21     21  7
22     22  8
23     23  9

#Question4

In [ ]:
 import seaborn as sb
import pandas as pd
print("All dataset present in the seaborn library :",sb.get_dataset_names()) # list of all dataset in the seaborn
print()
 
mpg = sb.load_dataset('mpg')
print("mpg data set from seaborn :", mpg) # loading mpg data set from seaborn library
print()
print("'anagrams' data set from seaborn :", sb.load_dataset('anagrams'))
print()
print("car_crashes data set from seaborn :", sb.load_dataset('car_crashes'))
print()
print(pd.read_csv("student_records.csv")) # loading user data set using pandas library

#Question5

In [7]:
 
# Which country origin cars are a part of this dataset?
 
import seaborn as sb
import pandas as pd
data_set = sb.load_dataset('mpg')
print(data_set)
 
df = pd.DataFrame(data_set)
print(" country origin :", df.origin.unique())

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]
 country origin : ['usa' 'japan' 'europe']

#Question6

In [21]:
 
import seaborn as sb
import pandas as pd
 
data_set = sb.load_dataset('mpg')
print(data_set)
 
df = pd.DataFrame(data_set)
 
print(" Data set extracted only for usa :", df[df['origin'].str.contains("usa")])

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]
 Data set extracted only for usa :       mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]

#Project

In [ ]:
 
Name    Overall  Grade    Obedient    ResearchScore   ProjectScore    Recommend
Henry   A         Y         90             85             90              Yes
John    C         N         85             50             94              Yes
Mervin  A         Y         95             10             89              Yes
David   F         N         10             40             56              No
Holmes  B         Y         75             71             99              Yes
Marvin  E         N         20             30             77              No
Simon   A         Y         92             79             45              Yes
Robert  B         Y         60             59             67              Yes
Trent   C         Y         75             33             78              Yes